body {
    height: 100vh;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
}


.logo a {
    font-size: 24px;
    margin-left: 300px;
    color: #F9FAF8;
}

ul.links {
    display: flex;
    gap: 20px;
    margin-right: 300px;
    
}
ul.links li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.upperinfo {
    margin: 20px 300px;
}