body { 
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.logo-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 100px;
    padding: 0px 10px;
    padding-bottom: 50px;
}

.logo {
    margin: 20px 400px;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul.links {
    display: flex;
    gap: 30px;
    margin: 0px 400px;
    
    
}
ul.links li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.upperinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    gap: 40px;
    
}

#upinfo01 {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px 400px;
}

#uptext1 {
    font-size: 48px;
    color: #F9FAF8;
    width: 300px;
    font-weight: 900;
}

#uptext2 {
    font-size: 18px;
    color: #E5E7EB;
}

#signbutton {
    display: block;
    background-color: rgb(14, 124, 251);
    margin-top: 5px;
    border-radius:10px;
    color: white;
    padding: 10px 40px;
    font-weight: 900;
}

#upinfo2 {
   margin: 0px 400px 0px 0px;
   width: 1100px;
   height: 250px;
   background-color: rgba(222, 217, 217, 0.341);
   display: flex;
   justify-content: center;
   align-items: center;
}

#boxestitle {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding-top: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.infobox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    align-items:center;
    margin-bottom: 90px;
}

.boxes {
    height: 150px;
    width: 150px;
    border: 3px solid lightblue;
    border-radius: 20PX;
}

.subtext {
    text-align: center;
}

.boxsize {
    width: 150px;
    height: 180px;
}

#background1 {
    border-color: solid black;
    background-color: lightgrey;
    padding: 100px 500px;

   
}

.costumerquote {
    font-size: 43px;
}

#thor {
    display: flex;
    font-size: 30px;
    justify-content: end;
    font-weight: 900;
}

#calltoaction {
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 124, 251);
    margin: 70px 450px;
    padding: 50px;
    border-radius: 10px;
    font-size: 20px;
}

#info01 {
    font-size: 30px;
    color: white;
    font-weight: 900;
}
#signinfo {
    display: block;
    font-size: 15px;
    font-weight: 100;
}

#sign2 {
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 10px;
    padding: 0px 40px;
    font-size: 20px;
    font-weight: 900;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    font-size: 20px;
    color: #ffffff;
}
